// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C0C0C0;
  color: #000;
}

.gr {
  color: #C0C0C0;
}


