body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C0C0C0;
  color: #000;
}

.navbar-laravel {
  background-color: #C0C0C0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000;
}

.list-group-item {
  border-color: #000;
  background-color: #C0C0C0;
}

.blank-top {
  margin-top: 50px;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url(/images/stone_00133.jpg?5dd20daf7bfb50c8a07e4c61a29dfa2c);
  background-repeat: repeat;
  background: contain;
  width: 100%;
  /* make sure to define width to fill container */
  height: 100px;
  /* define the height in pixels or make sure   */
  /* you have something in your div with height */
  /* so you can see your image */
  max-width: 1400px;
  /* define the max width */
}

.image img {
  width: 250px;
}

